<button (click)="toggle()">
    <!-- <fa-icon icon="bars"></fa-icon> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
        <path d="M0 23h7v7H0z"></path>
        <path d="M0 11.5h7v7H0z"></path>
        <path d="M0 0h7v7H0z"></path>
        <path d="M11.5 23h7v7h-7z"></path>
        <path d="M11.5 11.5h7v7h-7z"></path>
        <path d="M11.5 0h7v7h-7z"></path>
        <path d="M23 23h7v7h-7z"></path>
        <path d="M23 11.5h7v7h-7z"></path>
        <path d="M23 0h7v7h-7z"></path>
    </svg>
</button>