<vsf-layout>
    <vsf-layout-header>
        <div class="content-holder">

            <vsf-mobile-menu-toggle class="md:hidden"></vsf-mobile-menu-toggle>

            <div class="content-holder-centered">
                <vsf-collections-menu class="hidden md:block "></vsf-collections-menu>
            </div>

            <div class="w-[250px]">
                <a [routerLink]="['/']" class="absolute bottom-[6px]">
                    <img alt="Helena Grinshpun ARt" class="w-[280px]" src="assets/logo.png">
                </a>
            </div>

            <div class="content-holder-centered">
                <vsf-cart-toggle (toggle)="openCartDrawer()"></vsf-cart-toggle>

                <vsf-account-link class=""></vsf-account-link>
            </div>
        </div>
    </vsf-layout-header>

    <vsf-collections-menu-mobile [visible]="mobileNavVisible$ | async" class="z-10"></vsf-collections-menu-mobile>

    <vsf-cart-drawer (close)="closeCartDrawer()" [visible]="cartDrawerVisible$ | async"></vsf-cart-drawer>

    <vsf-home-page *ngIf="isHomePage$ | async; else main" style="flex: 1;"></vsf-home-page>

    <ng-template #main>
        <div style="flex: 1;">
            <router-outlet></router-outlet>
        </div>
    </ng-template>

    <vsf-layout-footer>
        <footer aria-labelledby="footer-heading" class="border-t">
            <h2 class="sr-only" id="footer-heading">Footer</h2>
            <div class="pl-[24px] pr-[24px] pt-[30px]">
                <div class="xl:grid xl:grid-cols-3 xl:gap-8 footer-grid border-t-[1px] border-black">
                    <!-- Left column -->
                    <div class="">
                        <h3 class="text-sm font-semibold  tracking-wider uppercase">
                            HELENA GRINSHPUN ART
                        </h3>
                        
                        <!-- Calligraphic slogan matching the design mockup -->
                        <p class="slogan text-gray-700">Dreams transformed into reality with AI + AR</p>

                        <div class="footer-bottom mt-8 ">

                            <div class="flex gap-1">
                                <a href="https://www.instagram.com/helena_grinshpun/" target="_blank" class="text-xs text-gray-600 font-semibold">INSTA</a>
                                <a href="https://www.facebook.com/h.grinshpun" target="_blank" class="text-xs text-gray-600 font-semibold">FB</a>
                            </div>
                            
                            <div class="footer-bottom">
                                <span class="text-xs text-gray-600 font-medium">©2025 HELENA GRINSHPUN ART. ALL RIGHTS RESERVED.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Middle column (with left divider) -->
                    <div class="border-l footer-middle">
                        <h3 class="text-sm font-semibold tracking-wider uppercase">
                            USEFUL LINKS
                        </h3>
                        <div>
                            <div><a href="#">SUPPORT</a></div>
                            <div><a href="#">PRIVACY POLICY</a></div>
                        </div>
                    </div>

                    <!-- Right column (with left divider) -->
                    <div class="border-l">
                        <h3 class="text-sm font-semibold  tracking-wider uppercase">
                            CONTACT
                        </h3>
                        
                        <div>
                            <div>
                                <a [routerLink]="['/about-me']">ABOUT ME</a>
                            </div>
                            <div>
                                <a href="mailto:hello@helenagrinshpun.art" class="text-base inline-block">HELLO@HELENAGRINSHPUN.ART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </vsf-layout-footer>

</vsf-layout>