<ng-container *ngIf="product; else placeholder">
    <a class="group flex flex-col" prefetch="intent" [routerLink]="['/product', product.slug]">
        <div 
            class="img-wrapper" 
            [style.background-image]="'url(' + currentImage + ')'"
            (mouseenter)="onMouseOver()"
            (mouseleave)="onMouseOut()">
            
            <!-- Video overlay for hover effect -->
            <video 
                #videoPlayer
                class="video-overlay"
                [class.visible]="isVideoVisible"
                [class.hidden]="!videoSource"
                [src]="videoSource"
                muted
                loop
                playsinline
                preload="auto">
            </video>
        </div>
        <div class="h-3"></div>
    </a>
</ng-container>

<ng-template #placeholder>
    <div class="flex flex-col animate-pulse">
        <div class="bg-gray-200 rounded-lg aspect-[3/4]"></div>
    </div>
</ng-template>