<ng-container *ngIf="product; else placeholder">
    <a class="group flex flex-col" prefetch="intent" [routerLink]="['/product', product.slug]">

        <div class="img-wrapper" [style.background-image]="'url(' + currentImage + ')'">
            <div class="img" 
                [style.background-image]="'url(' + hoverImage + ')'"
                (mouseover)="onMouseOver()"
                (mouseout)="onMouseOut()">
            </div>
        </div>
        <div class="h-3"></div>
    </a>
</ng-container>

<ng-template #placeholder>
    <div class="flex flex-col animate-pulse">
        <div class="bg-gray-200 rounded-lg aspect-[3/4]"></div>
    </div>
</ng-template>