:host {
    display: block;
    min-height: 80vh;
}

.faq-item {
    border-bottom: 1px solid rgba(0,0,0,1);

    &:first-child {
        border-top: 1px solid rgba(0,0,0,1);
    }
}

button {
    outline: none;
    
    &:focus {
        outline: none;
    }
}
